* {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 10px 0px;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
}   

/* CARD 1 */

.card-1 {
    height: 420px;
    width: 380px;
    background-color: #FFFFFF;
    margin: 25px;
    margin-top: 30px;
    border-radius: 10px;
    padding:30px 20px 1px;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: #667EEA;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 0px 155px 20px;
}

.card-1 h1 {
    background-color: #FFFFFF;
    text-align: center;
    color: #333333;
    padding-bottom: 0px 0px 6px; 
    font-size: 22px;
    font-weight: 600;
}

.card-1 h2 {
    background-color: #FFFFFF;
    font-size: 14px ;
    font-weight: 100;
    text-align: center;
    color: #666666;
    padding: 0px 0px 25px;
}

.card-1 p {
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    color: #555555;
    padding: 0px 0px 10px;
}

.followers {
    background-color: #FFFFFF;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.card-1 .stats h3{
    background-color: #FFFFFF;
    text-align: center;
    padding: 2px;

}

.card-1 .stats h5{
    background-color: #FFFFFF;
    color: #666666; 
    font-weight: 300;
    padding: 12px;
}

.button{
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 12px 25px;
    background-color: #667EEA;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}


/* CARD 2 */

.card-2 {
    height: 420px;
    width: 380px;
    background-color: #FFFFFF;
    margin: 25px;
    margin-top: 30px;
    border-radius: 10px;
    padding:30px 20px 1px;
    justify-content: center;
    align-items: center;

}

.circle2 {
    background-color: #F5576C;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 0px 155px 20px;

}

.card-2 h1 {
    background-color: #FFFFFF;
    text-align: center;
    color: #333333;
    padding-bottom: 0px 0px 6px; 
    font-size: 22px;
    font-weight: 600;
}

.card-2 h2 {
    background-color: #FFFFFF;
    font-size: 14px ;
    font-weight: 100;
    text-align: center;
    color: #666666;
    padding: 0px 0px 25px;

}

.card-2 p {
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    color: #555555;
    padding: 0px 0px 10px;
}

.followers {
    background-color: #FFFFFF;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.card-2 .stats h3{
    background-color: #FFFFFF;
    text-align: center;
    padding: 2px;

}

.card-2 .stats h5{
    background-color: #FFFFFF;
    color: #666666; 
    font-weight: 300;
    padding: 12px;
}

.button2{
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 12px 25px;
    background-color: #F5576C;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}


/* CARD 3 */

.card-3 {
    height: 420px;
    width: 380px;
    background-color: #FFFFFF;
    margin: 25px;
    margin-top: 30px;
    border-radius: 10px;
    padding:30px 20px 1px;
    justify-content: center;
    align-items: center;

}

.circle3 {
    background-color: #4FACFE;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 0px 155px 20px;

}

.card-3 h1 {
    background-color: #FFFFFF;
    text-align: center;
    color: #333333;
    padding-bottom: 0px 0px 6px; 
    font-size: 22px;
    font-weight: 600;
}

.card-3 h2 {
    background-color: #FFFFFF;
    font-size: 14px ;
    font-weight: 100;
    text-align: center;
    color: #666666;
    padding: 0px 0px 25px;

}

.card-3 p {
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    color: #555555;
    padding: 0px 0px 10px;
}

.followers {
    background-color: #FFFFFF;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.card-3 .stats h3{
    background-color: #FFFFFF;
    text-align: center;
    padding: 2px;

}

.card-3 .stats h5{
    background-color: #FFFFFF;
    color: #666666; 
    font-weight: 300;
    padding: 12px;
}

.button3{
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 12px 25px;
    background-color: #4FACFE;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}

/* @media (max-width:600px  min-width:1200px){

} */