* {
  margin: 0;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 20px;
  background-color: aliceblue;
  margin: 0 auto;
}

/* NAVBAR */

#navbar {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .logo {
  display: flex;
  padding: 10px;
  font-size: 12px;
  font-weight: 200;
  margin-left: 60px;
  color: black;
}

#navbar .list {
  display: flex;
  list-style-type: none;
  gap: 70px;
  margin-right: 95px;
  font-weight: 600;
  color: #333333;
}

#navbar .list li:hover {
  color: #667eea;
  outline-style: auto;
  outline-color: aliceblue;
  padding: 5px;
  cursor: pointer;
}

/* SECTION-1 */

#section1 {
  background-color: #667eea;
  color: white;
  height: 70vh;
  padding: 50px;
  min-height: 50vh;
}

#section1 h1 {
  text-align: center;
  margin: 0px 0px 16px;
  padding: 80px 0px 0px;
  font-weight: 700;
  font-size: 50px;
}

#section1 h2 {
  text-align: center;
  margin: 0px 0px 32px;
  font-weight: 400;
}

#section1 p {
  text-align: center;
  justify-content: center;
  margin: 0px 150px 48px;
  font-size: 20px;
  line-height: 35px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button1 {
  padding: 16px 32px;
  background-color: skyblue;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.button2 {
  padding: 16px 32px;
  background-color: #667eea;
  color: white;
  outline: #333333 solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.button1:hover {
  background-color: white;
  color: #667eea;
}

.button2:hover {
  background-color: white;
  color: #667eea;
}

/* SECTION-2 */

#section2 {
  padding: 60px;
  height: 60vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section2 .left {
  width: 600px;
  margin: 0px 30px 20px;
  font-size: 17.6px;
  display: inline;
  align-items: center;
  justify-content: center;
}

#section2 .left h1 {
  padding: 0px 0px 16px;
  font-size: 40px;
}

#section2 .left p {
  margin-bottom: 30px;
  line-height: 25px;
}

#section2 .left p.para2 {
  margin-bottom: 30px;
}

#section2 .right {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION-3 */

#section3 {
  padding: 64px 32px;
  background-color: #f8f9fa;
  height: 50vh;
}

#section3 .services h1 {
  font-size: 40px;
  color: black;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 48px;
  display: flex;
}

#section3 .container-box {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0px 32px 0px;
}

#section3 .box1 {
  height: 200px;
  width: 300px;
  padding: 32px;
  margin: 0px 0px 16px;
  background-color: white;
  border-radius: 10px;
}

#section3 .box1 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px 100px 0px;
}

#section3 .box1 h1 {
  font-size: 25px;
  font-weight: 700;
  color: #555555;
  margin: 0px 0px 16px;
  text-align: center;
}

#section3 .box1 p {
  text-align: center;
}

#section3 .box2 {
  height: 200px;
  width: 300px;
  padding: 32px;
  margin: 0px 0px 16px;
  background-color: white;
  display: inline;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

#section3 .box2 img {
  height: 50px;
  width: 50px;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px 100px 0px;
}

#section3 .box2 h1 {
  font-size: 25px;
  font-weight: 700;
  color: #555555;
  margin: 0px 0px 16px;
  text-align: center;
}

#section3 .box2 p {
  text-align: center;
}

#section3 .box3 {
  height: 200px;
  width: 300px;
  padding: 32px;
  margin: 0px 0px 16px;
  background-color: white;
  display: inline;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

#section3 .box3 img {
  height: 50px;
  width: 50px;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px 100px 0px;
}

#section3 .box3 h1 {
  font-size: 24px;
  font-weight: 700;
  color: #555555;
  margin: 0px 0px 16px;
  text-align: center;
}

#section3 .box3 p {
  text-align: center;
}

/* SECTION-4 */

#section4 {
  height: 30vh;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;
}

#section4 .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0px 60px 0px;
}

#section4 .stats h3 {
  color: #3498db;
  font-size: 50px;
  font-weight: 700;
}

#section4 .stats h5 {
  color: white;
  font-weight: 400;
  font-size: 23px;
}

/* FOOTER */

#footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px 60px 30px;
  line-height: 30px;
}

#footer .inner-div {
  max-width: 280px;
  width: full;
}

.contact h1 {
  color: #3498db;
  font-size: 20px;
  margin: 30px 20px 16px;
}

.contact li {
  color: #cccccc;
  list-style-type: none;
  font-size: medium;
  margin: 0px 20px 16px;
}

.link h1 {
  color: #3498db;
  font-size: 20px;
  margin: 30px 20px 16px;
}

.link li {
  color: #cccccc;
  list-style-type: none;
  font-size: medium;
  margin: 0px 20px 8px;
}

.link li:hover {
  color: #3498db;
  cursor: pointer;
}

.services h1 {
  color: #3498db;
  font-size: 20px;
  margin: 30px 20px 16px;
}

.services li {
  color: #cccccc;
  list-style-type: none;
  font-size: medium;
  margin: 0px 20px 8px;
}

.services li:hover {
  color: #3498db;
  cursor: pointer;
}

.about h1 {
  color: #3498db;
  font-size: 20px;
  margin: 30px 0px 16px;
}

.about p {
  color: #cccccc;
  list-style-type: none;
  font-size: medium;
  margin: 0px 0px 8px;
}

#last-line p {
  background-color: black;
  color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}
