body { 
font-family: Arial, sans-serif; 
  background-color: #f6f8fa; 
  margin: 0; 
  padding: 20px; 
  text-align: center; 
} 

:root {
  --primary-bg-color: #688;
  --primary-color: #333; 
}

.heading {
  display: flex;
  justify-content: center;
}

.heading h1 { 
  color: #333; 
  margin-bottom: 20px;
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
  padding: 15px; 
  width: 150px; 
}

.search-bar, .sort-dropdown { 
  width: 80%; 
  max-width: 400px; 
  padding: 10px 15px; 
  margin: 10px; 
  font-size: 16px; 
  border-radius: 8px; 
  border: 1px solid #ccc; 
  outline: none; 
} 
 
.search-bar:focus, 
.sort-dropdown:focus { 
  border-color: #007bff; 
} 
 
.user-count { 
  margin-top: 10px; 
  font-size: 16px; 
  color: #444; 
}

.user-container { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 40px; 
  justify-items: center; 
} 
 
.user-card { 
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
  padding: 15px; 
  width: 250px; 
  transition: transform 0.2s ease-in-out; 
} 
 
.user-card:hover { 
  transform: translateY(-5px); 
} 
 
.user-card h3 { 
  margin: 10px 0 5px; 
  color: #2c3e50; 
}

.hidden { 
  display: none; 
} 
 
#error { 
  color: red; 
  margin-bottom: 20px; 
}

#mode{
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
}

.filter{
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}